# Tables Exercises

**Goals**:
- Understand what a table is
- Understand data types in MySQL
- Understand how to create, show, describe and drop tables
- Introduce primary keys
- Understand how to use external sql scripts

<hr style="border:2px solid gray">

<div class="alert alert-block alert-info">
<b>Note:</b> All of these exercises will be completed in SQL.</div>

1. Open Sequal Ace and login to the database server
2. Save your work in a file named tables_exercises.sql
3. Use the employees database. Write the SQL code necessary to do this.
4. List all the tables in the database. Write the SQL code necessary to accomplish this.
5. Explore the employees table. What different data types are present on this table?
6. Which table(s) do you think contain a numeric type column? (Write this question and your answer in a comment)
7. Which table(s) do you think contain a string type column? (Write this question and your answer in a comment)
8. Which table(s) do you think contain a date type column? (Write this question and your answer in a comment)
9. What is the relationship between the employees and the departments tables? (Write this question and your answer in a comment)
10. Show the SQL that created the dept_manager table. Write the SQL it takes to show this as your exercise solution.

#### #3. Use the employees database. Write the SQL code necessary to do this.

USE employees;

#### #4. List all the tables in the database. Write the SQL code necessary to accomplish this.

SHOW TABLES;

#### #5. Explore the employees table. What different data types are present on this table?
- Answer: int, date, varchar(14), varchar(16), enum('M','F'), date

DESCRIBE employees;

#### #6. Which table(s) do you think contain a numeric type column? (Write this question and your answer in a comment)

**Answer**: 
- all tables will contain a numeric type column

#### #7. Which table(s) do you think contain a string type column? (Write this question and your answer in a comment)

**Answer**: 
- all tables except salaries will contain a string type column

#### #8. Which table(s) do you think contain a date type column? (Write this question and your answer in a comment)

**Answer**:  
- dept_manager
- employees
- salaries
- titles

#### #9. What is the relationship between the employees and the departments tables? (Write this question and your answer in a comment)

**Answer**: 
- There is no direct apparent relationship between the employees and the departments table
- There is a joiner table (dept_emp) that can connect an employee to their relevant department name

#### #10. Show the SQL that created the dept_manager table. Write the SQL it takes to show this as your exercise solution.

/*
CREATE TABLE `dept_manager` (
  `emp_no` int NOT NULL,
  `dept_no` char(4) NOT NULL,
  `from_date` date NOT NULL,
  `to_date` date NOT NULL,
  PRIMARY KEY (`emp_no`,`dept_no`),
  KEY `dept_no` (`dept_no`),
  CONSTRAINT `dept_manager_ibfk_1` FOREIGN KEY (`emp_no`) REFERENCES `employees` (`emp_no`) ON DELETE CASCADE ON UPDATE RESTRICT,
  CONSTRAINT `dept_manager_ibfk_2` FOREIGN KEY (`dept_no`) REFERENCES `departments` (`dept_no`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=latin1
*/