# Limit Exercises

**Exercise Goals**:
Add the LIMIT clause to our existing queries

1. Create a new SQL script named limit_exercises.sql.
<br>

2. MySQL provides a way to return only unique results from our queries with the keyword DISTINCT. For example, to find all the unique titles within the company, we could run the following query:
- SELECT DISTINCT title FROM titles;
- List the first 10 distinct last name sorted in descending order.
<br>

3. a. Find all previous or current employees hired in the 90s and born on Christmas. Find the first 5 employees hired in the 90's by sorting by hire date and limiting your results to the first 5 records. Write a comment in your code that lists the five names of the employees returned.
<br>

4. Try to think of your results as batches, sets, or pages. The first five results are your first page. The five after that would be your second page, etc. Update the query to find the tenth page of results.
- LIMIT and OFFSET can be used to create multiple pages of data. 
- What is the relationship between OFFSET (number of results to skip)
- LIMIT (number of results per page), and the page number?

<hr style="border:2px solid gray">

#### #2. MySQL provides a way to return only unique results from our queries with the keyword DISTINCT. For example, to find all the unique titles within the company, we could run the following query:

SELECT DISTINCT title FROM titles;
<br>
List the first 10 distinct last name sorted in descending order.

SELECT distinct last_name
FROM employees
order by last_name DESC
LIMIT 10;

#### #3a. Find all previous or current employees hired in the 90s and born on Christmas.

In [ ]:
select *
from employees
where hire_date like '199%' 
and birth_date like '%-12-25'

#### #3b. Find the first 5 employees hired in the 90's by sorting by hire date and limiting your results to the first 5 records.

select *
from employees
where hire_date like '199%' 
order by hire_date
limit 5;

#### #3c. Write a comment in your code that lists the five names of the employees returned.

-- Alselm Cappello, Utz Mandell, Bouchung Schreiter, Baocai Kushner, Petter Stroustrup

#### #4. Try to think of your results as batches, sets, or pages. The first five results are your first page. The five after that would be your second page, etc. Update the query to find the tenth page of results.
LIMIT and OFFSET can be used to create multiple pages of data. What is the relationship between OFFSET (number of results to skip), LIMIT (number of results per page), and the page number?

select *
from employees
where hire_date like '199%'
order by hire_date
limit 5 offset 45;