# Joins Exercises

Create a file named join_exercises.sql to do your work in.

<hr style="border:2px solid gray">

### Join Example Database

#### #1. Use the join_example_db. Select all the records from both the users and roles tables.

#### #2 Use join, left join, and right join to combine results from the users and roles tables as we did in the lesson. 
- Before you run each query, guess the expected number of results.

SELECT *
FROM users
JOIN roles ON users.role_id = roles.id

SELECT *
FROM users
left JOIN roles ON users.role_id = roles.id

SELECT *
FROM users
right JOIN roles ON users.role_id = roles.id

#### #3. Although not explicitly covered in the lesson, aggregate functions like count can be used with join queries. 
- Use count and the appropriate join type to get a list of roles along with the number of users that has the role. 
- Hint: You will also need to use group by in the query.

SELECT count(*), roles.name
FROM users
JOIN roles ON users.role_id = roles.id
GROUP BY roles.name;

<hr style="border:2px solid gray">

### Employees Database
#### #1. Use the employees database.

#### #2. Using the example in the Associative Table Joins section as a guide, write a query that shows each department along with the name of the current manager for that department.

  Department Name    | Department Manager
 --------------------+--------------------
  Customer Service   | Yuchang Weedman
  Development        | Leon DasSarma
  Finance            | Isamu Legleitner
  Human Resources    | Karsten Sigstam
  Marketing          | Vishwani Minakawa
  Production         | Oscar Ghazalie
  Quality Management | Dung Pesch
  Research           | Hilary Kambil
  Sales              | Hauke Zhang

SELECT dept_name AS Department_Name, CONCAT(first_name, ' ', last_name) AS Deptarment_Manager 
FROM departments
    JOIN dept_manager ON departments.dept_no = dept_manager.dept_no
    JOIN employees ON dept_manager.emp_no = employees.emp_no
WHERE to_date LIKE '9999%'
ORDER BY dept_name;

#### #3. Find the name of all departments currently managed by women.

Department Name | Manager Name
----------------+-----------------
Development     | Leon DasSarma
Finance         | Isamu Legleitner
Human Resources | Karsetn Sigstam
Research        | Hilary Kambil

SELECT dept_name AS Department_Name, CONCAT(first_name, ' ', last_name) AS Manager_Name
FROM departments
	JOIN dept_manager ON departments.dept_no = dept_manager.dept_no
	JOIN employees ON dept_manager.emp_no = employees.emp_no
WHERE to_date LIKE '9999%' AND gender LIKE 'F'
ORDER BY Department_Name;

#### #4. Find the current titles of employees currently working in the Customer Service department.

Title              | Count
-------------------+------
Assistant Engineer |    68
Engineer           |   627
Manager            |     1
Senior Engineer    |  1790
Senior Staff       | 11268
Staff              |  3574
Technique Leader   |   241

SELECT title AS Title, count(*) AS Count
FROM departments
    JOIN dept_emp ON departments.dept_no = dept_emp.dept_no
    JOIN employees ON dept_emp.emp_no = employees.emp_no
    JOIN titles ON employees.emp_no = titles.emp_no
WHERE dept_name LIKE 'Customer Service' AND dept_emp.to_date LIKE '9999%' AND titles.to_date LIKE '9999%'
GROUP BY title;

#### #5. Find the current salary of all current managers.

Department Name    | Name              | Salary
-------------------+-------------------+-------
Customer Service   | Yuchang Weedman   |  58745
Development        | Leon DasSarma     |  74510
Finance            | Isamu Legleitner  |  83457
Human Resources    | Karsten Sigstam   |  65400
Marketing          | Vishwani Minakawa | 106491
Production         | Oscar Ghazalie    |  56654
Quality Management | Dung Pesch        |  72876
Research           | Hilary Kambil     |  79393
Sales              | Hauke Zhang       | 101987

SELECT dept_name AS Department_Name, CONCAT(first_name, ' ', last_name) AS Manager_Name, salary AS Salary
FROM departments
    JOIN dept_manager ON departments.dept_no = dept_manager.dept_no
    JOIN employees ON dept_manager.emp_no = employees.emp_no
    JOIN salaries ON employees.emp_no = salaries.emp_no
WHERE dept_manager.to_date LIKE '9999%' AND salaries.to_date LIKE '9999%'
ORDER BY dept_name;

#### #6. Find the number of current employees in each department.

+---------+--------------------+---------------+
| dept_no | dept_name          | num_employees |
+---------+--------------------+---------------+
| d001    | Marketing          | 14842         |
| d002    | Finance            | 12437         |
| d003    | Human Resources    | 12898         |
| d004    | Production         | 53304         |
| d005    | Development        | 61386         |
| d006    | Quality Management | 14546         |
| d007    | Sales              | 37701         |
| d008    | Research           | 15441         |
| d009    | Customer Service   | 17569         |
+---------+--------------------+---------------+

SELECT dept_emp.dept_no,dept_name, count(*) AS num_employees
FROM dept_emp
    JOIN departments ON dept_emp.dept_no = departments.dept_no
WHERE dept_emp.to_date LIKE '9999%' 
GROUP BY dept_emp.dept_no, dept_name

#### #7. Which department has the highest average salary? Hint: Use current not historic information.

+-----------+----------------+
| dept_name | average_salary |
+-----------+----------------+
| Sales     | 88852.9695     |
+-----------+----------------+

SELECT dept_name, AVG(salary) AS average_salary
FROM departments
	JOIN dept_emp ON departments.dept_no = dept_emp.dept_no
	JOIN employees ON dept_emp.emp_no = employees.emp_no
	JOIN salaries ON employees.emp_no = salaries.emp_no
WHERE dept_emp.to_date LIKE '9999%' AND salaries.to_date LIKE '9999%'
GROUP BY dept_name
ORDER BY average_salary DESC
LIMIT 1;

#### #8. Who is the highest paid employee in the Marketing department?

+------------+-----------+
| first_name | last_name |
+------------+-----------+
| Akemi      | Warwick   |
+------------+-----------+

SELECT first_name, last_name
FROM salaries
	JOIN employees ON salaries.emp_no = employees.emp_no
	JOIN dept_emp ON employees.emp_no = dept_emp.emp_no
	JOIN departments ON dept_emp.dept_no = departments.dept_no
WHERE dept_name LIKE 'Marketing'
ORDER BY salary DESC
LIMIT 1;

#### #9. Which current department manager has the highest salary?

+------------+-----------+--------+-----------+
| first_name | last_name | salary | dept_name |
+------------+-----------+--------+-----------+
| Vishwani   | Minakawa  | 106491 | Marketing |
+------------+-----------+--------+-----------+

SELECT first_name, last_name, salary, dept_name
FROM salaries
	JOIN employees ON salaries.emp_no = employees.emp_no
	JOIN dept_manager ON employees.emp_no = dept_manager.emp_no
	JOIN departments ON dept_manager.dept_no = departments.dept_no
WHERE dept_manager.to_date LIKE '9999%' AND salaries.to_date LIKE '9999%'
ORDER BY salary DESC
LIMIT 1;

#### #10. Determine the average salary for each department. Use all salary information and round your results.

+--------------------+----------------+
| dept_name          | average_salary | 
+--------------------+----------------+
| Sales              | 80668          | 
+--------------------+----------------+
| Marketing          | 71913          |
+--------------------+----------------+
| Finance            | 70489          |
+--------------------+----------------+
| Research           | 59665          |
+--------------------+----------------+
| Production         | 59605          |
+--------------------+----------------+
| Development        | 59479          |
+--------------------+----------------+
| Customer Service   | 58770          |
+--------------------+----------------+
| Quality Management | 57251          |
+--------------------+----------------+
| Human Resources    | 55575          |
+--------------------+----------------+

SELECT d.dept_name,
		ROUND(AVG(s.salary), 0) AS avg_dept_salary
FROM departments d
JOIN dept_emp de ON d.dept_no = de.dept_no
JOIN salaries s ON de.emp_no = s.emp_no
GROUP BY d.dept_name
ORDER BY avg_dept_salary DESC;

11. **Bonus**: Find the names of all current employees, their department name, and their current manager's name.

240,124 Rows

Employee Name | Department Name  |  Manager Name
--------------|------------------|-----------------
 Huan Lortz   | Customer Service | Yuchang Weedman

 .....

12. **Bonus**: Who is the highest paid employee within each department.