# Where Exercises

**Exercise Goals**:
- Query our sample database using the WHERE clauses

<hr style="border:2px solid gray">

<div class="alert alert-block alert-info">
<b>Note:</b> All of these exercises will be completed in SQL.</div>

1. Create a file named where_exercises.sql. Make sure to use the employees database.

2. Find all current or previous employees with first names 'Irena', 'Vidya', or 'Maya' using IN. Enter a comment with the number of records returned.

3. Find all current or previous employees with first names 'Irena', 'Vidya', or 'Maya', as in Q2, but use OR instead of IN. Enter a comment with the number of records returned. Does it match number of rows from Q2?

4. Find all current or previous employees with first names 'Irena', 'Vidya', or 'Maya', using OR, and who is male. Enter a comment with the number of records returned.

5. Find all current or previous employees whose last name starts with 'E'. Enter a comment with the number of employees whose last name starts with E.

6. Find all current or previous employees whose last name starts or ends with 'E'. Enter a comment with the number of employees whose last name starts or ends with E. How many employees have a last name that ends with E, but does not start with E?

7. Find all current or previous employees employees whose last name starts and ends with 'E'. Enter a comment with the number of employees whose last name starts and ends with E. How many employees' last names end with E, regardless of whether they start with E?

8. Find all current or previous employees hired in the 90s. Enter a comment with the number of employees returned.

9. Find all current or previous employees born on Christmas. Enter a comment with the number of employees returned.

10.Find all current or previous employees hired in the 90s and born on Christmas. Enter a comment with the number of employees returned.

11. Find all current or previous employees with a 'q' in their last name. Enter a comment with the number of records returned.

12. Find all current or previous employees with a 'q' in their last name but not 'qu'. How many employees are found?

<hr style="border:2px solid gray">

#### #2 Find all current or previous employees with first names 'Irena', 'Vidya', or 'Maya' using IN. 
**Answer**: 709 returns

select *
from employees
where first_name in ('Irena', 'Vidya', 'Maya')

#### #3 Find all current or previous employees with first names 'Irena', 'Vidya', or 'Maya', as in Q2, but use OR instead of IN. 
**Answer**: 709 returns

select *
from employees
where first_name = 'Irena' or first_name = 'Vidya' or first_name = 'Maya';

#### #4 Find all current or previous employees with first names 'Irena', 'Vidya', or 'Maya', using OR, and who is male. 
**Answer**: 1080241 returns

select *
from employees
where first_name = 'Irena' or first_name = 'Vidya' or first_name = 'Maya'
	or gender = 'M';

#### #5 Find all current or previous employees whose last name starts with 'E'. 
**Answer**: 7330 returns (starts wtith E)

select *
from employees
where last_name like 'e%';

#### #6 Find all current or previous employees whose last name starts or ends with 'E'. 
**Answer**: 30723 returns (starts or ends with E)

select *
from employees
where last_name like 'e%'
	or last_name like '%e';

#### #6 Part 2: How many employees have a last name that ends with E, but does not start with E?
**Answer**: 23393 (end with E, do not start with E)

select *
from employees
where last_name like '%e'
	and last_name not like 'e%';

#### #7 Find all current or previous employees employees whose last name starts and ends with 'E'. 
**Answer**: 899 returns (start and end with E)

select *
from employees
where last_name like 'e%'
	and last_name like '%e';

#### #7 Part 2: How many employees' last names end with E, regardless of whether they start with E?
**Answer**: 24292 returns

select *
from employees
where last_name like '%e';

#### #8 Find all current or previous employees hired in the 90s.
**Answer**: 135214 returns

select *
from employees
where hire_date like '199%-%-%';

#### #9 Find all current or previous employees born on Christmas
**Answer**: 842 returns

select *
from employees
where birth_date like '%-12-25';

#### #10 Find all current or previous employees hired in the 90s and born on Christmas.
**Answer**: 362 returns

select *
from employees
where birth_date like '%-12-25'
	and hire_date like '199%-%-%';

#### #11 Find all current or previous employees with a 'q' in their last name.
**Answer**: 1873 returns

select *
from employees
where last_name like '%q%';

#### #12 Find all current or previous employees with a 'q' in their last name but not 'qu'
**Answer**:  547 returns

select *
from employees
where last_name like '%q%' 
	and last_name not like '%qu%';