# Functions Exercises

<div class="alert alert-block alert-info">
<b>Note:</b> All exercises in this section will be completed in Sequal Ace.</div>

1. Copy the order by exercise and save it as functions_exercises.sql.

2. Write a query to to find all employees whose last name starts and ends with 'E'. Use concat() to combine their first and last name together as a single column named full_name.

3. Convert the names produced in your last query to all uppercase.

4. Find all employees hired in the 90s and born on Christmas. Use datediff() function to find how many days they have been working at the company (Hint: You will also need to use NOW() or CURDATE()),

5. Find the smallest and largest current salary from the salaries table.

6. Use your knowledge of built in SQL functions to generate a username for all of the employees. A username should be all lowercase, and consist of the first character of the employees first name, the first 4 characters of the employees last name, an underscore, the month the employee was born, and the last two digits of the year that they were born. Below is an example of what the first 10 rows will look like:

+------------+------------+-----------+------------+
| username   | first_name | last_name | birth_date |
+------------+------------+-----------+------------+
| gface_0953 | Georgi     | Facello   | 1953-09-02 |
| bsimm_0664 | Bezalel    | Simmel    | 1964-06-02 |
| pbamf_1259 | Parto      | Bamford   | 1959-12-03 |
| ckobl_0554 | Chirstian  | Koblick   | 1954-05-01 |
| kmali_0155 | Kyoichi    | Maliniak  | 1955-01-21 |
| apreu_0453 | Anneke     | Preusig   | 1953-04-20 |
| tziel_0557 | Tzvetan    | Zielinski | 1957-05-23 |
| skall_0258 | Saniya     | Kalloufi  | 1958-02-19 |
| speac_0452 | Sumant     | Peac      | 1952-04-19 |
| dpive_0663 | Duangkaew  | Piveteau  | 1963-06-01 |
+------------+------------+-----------+------------+

#### #2 Write a query to to find all employees whose last name starts and ends with 'E'.

USE employees;
SELECT first_name, last_name
FROM employees
WHERE last_name LIKE 'e%e';

- Use concat() to combine their first and last name together as a single column named full_name.

SELECT concat(first_name,' ', last_name) AS full_name FROM employees
WHERE last_name LIKE 'e%e';

#### #3. Convert the names produced in your last query to all uppercase.

SELECT upper(
concat(first_name, ' ', last_name))
AS 'full_name'
FROM employees
where last_name like 'e%e';

#### #4 Find all employees hired in the 90s and born on Christmas.

SELECT *
FROM employees
WHERE hire_date LIKE '199%'
AND birth_date LIKE '%-12-25';

- Use datediff() function to find how many days they have been working at the company

SELECT *, datediff(now(), hire_date) 
AS days_with_firm
FROM employees
WHERE hire_date LIKE '199%'
AND birth_date LIKE '%-12-25';

#### #5 Find the smallest and largest current salary from the salaries table.

SELECT MAX(salary) --(158220)
FROM salaries
WHERE to_date LIKE '9999%'; 


SELECT MIN(salary) --(38623)
FROM salaries
WHERE to_date LIKE '9999%';

### OR

SELECT MAX(salary), MIN(salary) 
FROM salaries
WHERE to_date LIKE '9999%';

#### #6  Use your knowledge of built in SQL functions to generate a username for all of the employees. 
A username should be all lowercase, and consist of the first character of the employees first name, 
the first 4 characters of the employees last name, an underscore, the month the employee was born, and the last two digits of the year that they were born.

SELECT lower(
concat(
substr(first_name, 1, 1), 
substr(last_name, 1,4), 
'_', 
substr(birth_date, 6,2), 
substr(birth_date, 3,2))) 
AS username, first_name, last_name, birth_date
FROM employees;