# Clauses Overview

<div class="alert alert-block alert-info">
    <b>Note:</b> <i>In this section we will talk about <b>clauses</b>, further stipulations added to our queries that determine which rows are targeted.</i></div>

This overview will include:
- [L6.1 Where Lesson](#L6.1-Where-Lesson)
- [L6.2 Order By Lesson](#L6.2-Order-By-Lesson)
- [L6.3 Limit Lesson](#L6.3-Limit-Lesson)

<hr style="border:2px solid gray">

## L6.1 Where Lesson

**Lesson Goals**:
- Introduce the WHERE clause
- Understand how to combine WHERE clauses with AND and OR to create more complex queries

use employees;

SELECT * 
FROM employees
WHERE hire_date >= '1990-01-01';

#### TO FIND THOSE HIRED IN THE 1990'S

select * 
from employees 
where hire_date LIKE '199%';

#### TO FIND THOSE HIRED IN THE MONTH OF OCTOBER

SELECT * 
FROM employees
WHERE hire_date LIKE '%-10-%';

#### FIND THOSE WHOSE FIRST NAME STARTS WITTH S

SELECT * 
FROM employees 
WHERE first_name LIKE 'S%';

#### FIND THOSE WHOSE FIRST NAME STARTS WITH S AND ENDS WITH S

SELECT * 
FROM employees 
WHERE first_name LIKE 'S%s';

SELECT * 
FROM employees 
WHERE first_name LIKE 'S%' AND last_name LIKE 'S%';

#### TO FIND THOSE WHOSE FIRST NAME STARTS WITH S OR LAST NAME STARTS WITH S

SELECT * 
FROM employees 
WHERE first_name LIKE 'S%' OR last_name LIKE 'S%';

#### TO FIND THOSE NOT HIRED IN THE MONTH OF OCTOBER

SELECT * 
FROM employees
WHERE hire_date NOT LIKE '%-10-%';

#### TO FIND THOSE HIRED BETWEEN 1990 AND 1999

SELECT * 
FROM employees 
WHERE hire_date BETWEEN '1990-01-01' AND '1999-12-31';

#### FIND ALL THOSE WHOSE LAST NAME IS EITHER FOOTE OR SIDOU

SELECT *
FROM employees 
WHERE last_name = 'Foote' OR last_name = 'Sidou';

SELECT *
FROM employees
WHERE last_name IN ('Foote', 'Sidou');

#### ANY RECORDS WHERE HIRE_DATE IS NULL?

SELECT *
FROM employees
WHERE hire_date IS NULL;

#### ANY RECORDS WHERE HIRE_DATE IS not NULL?

SELECT *
FROM employees
WHERE hire_date IS NOT NULL;

#### FIND EMPLOYEES WHO WERE HIRED IN THE 90'S AND FIRST NAME STARTS WITH S OR LAST NAME STARTS WITH 'S'

SELECT *
FROM employees
WHERE hire_date BETWEEN '1990-01-01' AND '1999-12-31' 
	AND (first_name LIKE 'S%' OR last_name LIKE 'S%');

<hr style="border:2px solid gray">

## L6.2 Order By Lesson

**Lesson Goals**:
- Understand how to use an ORDER BY clause
- Understand how to chain multiple ORDER BY clauses

#### EMPLOYEES HIRED IN THE 90'S, ORDER BY HIRE_DATE ASCENDING

SELECT * 
FROM employees 
WHERE hire_date BETWEEN '1990-01-01' and '1999-12-31'
ORDER BY hire_date asc;

SELECT * 
FROM employees 
WHERE hire_date BETWEEN '1990-01-01' AND '1999-12-31'
ORDER BY hire_date DESC;

SELECT *
FROM employees
WHERE hire_date BETWEEN '1990-01-01' AND '1999-12-31'
ORDER BY hire_date DESC, gender ASC;

#### ALL MALES FIRST BY HIRE_DATE AND THEN ALL THE FEMALES BY HIRE DATE

SELECT *
FROM employees
WHERE hire_date BETWEEN '1990-01-01' AND '1999-12-31'
ORDER BY gender ASC, hire_date DESC;

<hr style="border:2px solid gray">

## L6.3 Limit Lesson

**Lesson Goals**:
- Understand how to get query results in batches using the LIMIT clause

#### ADDING LIMITS TO OUTPUT

- find the oldest employee hired in 1990

SELECT *
FROM employees
WHERE hire_date LIKE '1990%'
ORDER BY birth_date ASC, first_name ASC
LIMIT 5;

SELECT *
FROM employees
WHERE hire_date LIKE '1990%'
ORDER BY birth_date ASC, first_name ASC
LIMIT 5 OFFSET 3;